html {
	scroll-behavior: smooth;
}

img.logo { /* svg on an img tag */
	-webkit-filter: invert(1); /* safari 6.0 - 9.0 */
	filter: invert(1);
	padding-right: 10px;
}

/*body {
	padding-top: 4.5rem;
}

.card-columns {
	column-count: 2;
}

#minion,
#ui,
#map,
#crafting,
#combat,
#misc,
#libs {
	padding: 3rem 0 0;
	margin-bottom: 0;
}

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0, 0, 0, 0.7);
	width: 50px;
	height: 50px;
	border-radius: 35px;
	display: none;
	transition: all 0.3s ease;
}

#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
	color: #fff;
	top: 5px;
}

.btn-outline-secondary a {
	color: #6c757d;
	text-decoration: none;
}

.btn-outline-secondary a:hover {
	color: #fff;
	text-decoration: none;
}*/